.header__select {
    font-family: inherit;
    width: 35%;
    height: 40px;
    font-size: 17 px;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-indent: 10px;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.header__select:focus {
    -webkit-box-shadow: 0 0 5px lightblue;
    box-shadow: 0 0 5px lightblue;
}

@media (max-width: 767.98px) {
    .header__select {
        width: 50%;
    }
}
@media (max-width: 424.98px) {
    .header__select {
        width: 80%;
    }
}
